.Inbox {
  margin: 0 2vh;

  .MailList {
    position: relative;
    font-size: $theme-mediumfont-size;
    .MailItem {
      position: relative;
      background-color: $theme-color-white;
      padding-top: 1vh;
      cursor: default;

      &:first-of-type {
        padding-top: 0;
      }

      .from {
        font-size: $theme-bigfont-size;
        font-weight: bold;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .subject {
        font-weight: bold;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .body {
        color: $theme-color-darkgray;
      }

      @include modifier(hasChildren) {
        cursor: pointer;
        &:after {
          content: '\00bb';
          font-size: $theme-hugefont-size;
          color: $theme-color-main;
          position: absolute;
          visibility: visible;
          top: 0;
          right: 0;
          transition: transform .5s linear;
        }
      }
      @include modifier(open) {
        &:after {
          transform: rotate(90deg);
        }
      }

      .children {
        overflow-y: hidden;
        transition: height .5s linear;
        display: flex;
        flex-direction: column;
        @include modifier(closed) {
          height: 0!important;
          .MailList {
            .MailItem {
              transform: translateY(-300%);
            }
          }
        }
        .MailList {
          .MailItem {
            padding-top: 1vh;
            overflow-y: hidden;
            transition: transform .5s linear;
          }
        }
      }
    }
  }
}
