.NavTitle {
  color: $theme-color-dark;
  text-transform: uppercase;
  font-size: $theme-hugefont-size;
  font-weight: 400;
  display: block;
  padding: 10px;
  text-align: center;
  width: 100%;
}
.TabBar {
  width: 100%;
  height: auto;
  overflow-x: auto;
  scroll-behavior: smooth;
  :global {
    .ButtonGroup_toggleContainer {
      align-items: flex-start;
      justify-content: left;
      .ButtonGroup_toggle {
        white-space: nowrap;
        border: none;
        background-color: inherit;
        text-decoration: none;
        margin-bottom: 4px;
        &.ButtonGroup_isActive {
          background-color: inherit;
          position: relative;
          &:after {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            height: 4px;
            background-color: $theme-navigation-color;
            border-radius: 2px;
            content: ' ';
          }
        }
      }
    }
  }
}
.TabContent {
  width: 100%;
  max-width: 100%;
  .brn {
    margin-top: 10vh;
    max-width: 100%;
  }
  :global {
    .LinkList_component {
      ul > li {
        position: relative;
        .LinkList_image {
          width: 4vh;
          height: 4vh;
          float: none;
          display: inline-block;
          vertical-align: middle;
          margin-right: 2vh;
          border: none;
          border-radius: 0;
        }
        h5 {
          display: inline-block;
          & + .LinkList_more {
            opacity: 1;
            &:after {
              content: '\00bb';
              font-size: $theme-hugefont-size;
              position: absolute;
              visibility: visible;
              top: 2vh;
              right: 2vh;
            }
          }
        }
      }
    }
  }
}
.Tile {
  text-align: center;
  min-height: 20vh;
  &:nth-of-type(1) {
    background-color: #589503;
  }
  &:nth-of-type(2) {
    background-color: #035faf;
  }
  &:nth-of-type(3) {
    background-color: #035faf;
  }
  &:nth-of-type(4) {
    background-color: #0064b7;
  }
  .icon {
    width:35%;
    margin-bottom: 1vh;
    &.circleIcon {
      background-color: white;
      width: 50%;
      border-radius: 50%;
      border: 2px solid white;
    }
  }
  .value {
    margin-bottom: 1vh;
  }
}