/*
 * Global Colors
 */

$theme-color-main: #009EE2;
$theme-color-dark: #000;
$theme-color-white: #FFF;
$theme-color-darkgray: #999999;
$theme-color-gray: #D8D6D7;
$theme-color-lightgray: #E8E8E8;
$theme-color-lightstealblue: #80CEF0;

$theme-color-chatbox-background: #F3F3F3;
$theme-color-chatbox-border: #DADADA;

$theme-color-lightblue: rgb(222, 241, 255);
$theme-color-lightblue-opacity0: rgba(222, 241, 255, 0);
$theme-color-lightblue-opacity1: rgba(222, 241, 255, 1);
// $theme-color-dark-text: #FFF;

// $theme-color-gray: #808080;
// $theme-color-gray-light: #E7E9EB;
// $theme-color-gray-lightest: #FEFEFE;

// $theme-color-gray-darkest: #333;

$chart-color-beige: #F4B264;
