.component {

  display: grid;
  grid-template-columns: 150px auto;
  grid-template-rows: 62px 62px auto 56px;
  grid-gap: 0;

  // TODO: check with grid
  transition: all 1s ease;

  & > header, & > nav, & > aside, & > footer {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 1s ease;
  }

  & > header {
    grid-column: 1 / 3;
  }
  & > nav {
    grid-column: 2 / 3;
  }
  & > aside {
    grid-row: 2 / 5;
  }
  & > footer {
    grid-column: 2 / 3;
  }
}

//
// .grid > * {
//   display: flex;
//   align-items: center;
//   justify-content: center;
// }


@media only screen and (max-width: $device-smallscreen-phone) {
  .component {
    grid-template-columns: auto;
    grid-template-rows: 62px auto 56px;

    header {
      transform: translateY(-100%);
      z-index: 100;
      position: absolute;
      height: 62px;
    }

    nav {
      grid-column: 1 / 1;
    }
    aside {
      // NOTE: was not working correwctly
      // opacity: 0;
      transform: translateX(-100%);
      z-index: 100;
      position: absolute;
      height: $theme-viewport-height;
    }
    footer {
      grid-column: 1 / 1;
    }
  }

}
