.component {
  height: 110px;
  width: 150px;
  margin: 0px 5px 0 5px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  button {
    border: 1px solid #aaa;
    border-radius: 5px;
  }

  .value {
    font-size: 28px;
    color: #000000;
    letter-spacing: 0;
    text-align: center;
    line-height: 25px;
    margin-bottom: 6px;
    display: block;
  }

  .title {
    font-size: 15px;
    color: #000000;
    letter-spacing: 0;
    text-align: center;
    line-height: 25px;
    margin-bottom: 10px;
    display: block;
  }

}
